:root{
    --main-color : #09c;
    --alt-color : #0d69d5;
    --orange-color : #f59e0b;
    --green-color : #22c55e;
    --gray-color : #888;
    --blue-color : #0075ff;
    --red-color : #f44336
}
.p-absolute{
    position: absolute;
}
.mb-10{
    margin-bottom: 10px;
}
.c-orange{
    color: #f59e0b;
}
.bg-orange{
    background-color: #f59e0b;
}
.c-red{
    color: #f44336;
}
.bg-red{
    background-color: #f44336;
}
.c-blue{
    color: #0075ff;
}
.bg-blue{
    background-color: #0075ff
}
.c-green{
    color: #22c55e;
}
.bg-green{
    background-color: #22c55e;
}
.c-gray{
    color: var(--gray-color);
}
.p-20{
    padding: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.m-20{
    margin: 20px;
}
.mt-10{
    margin-top: 10px;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.flex-direction{
    flex-direction: column;
}
.m-0{
    margin: 0;
}
.ms-auto{
    margin: auto 0;
}
.fs-14{
    font-size: 14px;
}
.orange-btn{
    background-color: var(--orange-color);
    padding: 3px 8px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
}
.red-btn{
    background-color: var(--red-color);
    padding: 3px 8px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
}
.green-btn{
    background-color: var(--green-color);
    padding: 3px 8px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
}
.blue-btn{
    background-color: var(--blue-color);
    padding: 3px 8px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
}
.grey-btn{
    background-color: var(--grey-color);
    padding: 3px 8px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
}