.plan-name{
    text-align: center;
    padding: 40px;
    color: white;
    border: 3px solid white;
}
.card:first-of-type .plan-name{
    outline: 3px solid var(--green-color);
}
.card:nth-of-type(2) .plan-name{
    outline: 3px solid var(--blue-color);
}
.card:nth-of-type(3) .plan-name{
    outline: 3px solid var(--orange-color);
}
.feats ul{
    margin-top: 40px;
}
.feats li{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.feats span{
    padding: 5px 20px;
}