:root{
    --main-color : #09c;
    --alt-color : #0d69d5;
    --orange-color : #f59e0b;
    --green-color : #22c55e;
    --grey-color : #888;
    --blue-color : #0075ff;
    --red-color : #f44336
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
    margin: 0;
}
a{
    text-decoration: none;
}
*:focus{
    outline: none;
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
    display: flex;
}
ul{
    list-style-type: none;
    padding: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--alt-color);
}
.sidebar {
    min-height: 100vh;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
    padding: 10px;
    width: 250px;
    z-index: 100;
}
.sidebar ul li a {
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: .3s;
    margin-bottom: 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.sidebar a i {
    margin-right: 5px;
}
.sidebar ul li a:hover , .sidebar ul li a:active{
    background-color: #ececec;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.sidebar > h3{
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
}
@media (min-width: 767px){
    .sidebar > h3::before , .sidebar > h3::after {
        content: "";
        position: absolute;
        background-color: black;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .sidebar > h3::before{
        width: 100px;
        height: 3px;
        bottom: -10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .sidebar > h3::after{
        width: 12px;
        height: 12px;
        border: 4px solid white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: -18.5px;
    }
}
.active{
    background-color: #eee;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width:767px) {
    .sidebar{
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 14px;
    }
    .sidebar a {
        justify-content: center;
    }
    .sidebar a i {
        margin-right: 0;
    }
    .sidebar a span {
        display: none;
    }
}
.content {
    width: 100%;
    overflow: hidden;
}
.nav {
    height: 70px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 0 10px #ddd; */
}
.nav .search {
    margin-left: 30px;
}
.nav input{
    position: absolute;
    border: none;
    width: 200px;
    padding-left: 30px;
    height: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid #ddd;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.nav input:focus{
    width: 250px;
}
.nav button{
    position: absolute;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    height: 28px;
    top: 1px;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: gray;
    z-index: 100;
}
.nav .icons {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#notification {
    cursor: pointer;
}
.nav .icons .notification{
    width: 300px;
    background-color: #EEEEEE;
    position: absolute;
    right: 35px;
    top: 35px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    z-index: 100;
}
@media (max-width:767px) {
    .nav .icons .notification{
        width: 260px;
        top: 40px;
    }
}
.nav .icons .notification .notfbar{
    background-color: white;
    color: var(--grey-color);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 100;
}
.nav .icons .notification .notfbar .notfindicator {
    content: "";
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 0px;
    top: 5px
}

.nav .icons img {
    width: 30px;
    height: 30px;
}
.nav .icons span{
    font-size: 20px;
    margin-right: 10px;
    color: black;
    position: relative;
}
.nav .icons .indicator {
    content: "";
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 30px;
    top: -1px;
}
@media (max-width:424px) {
    .nav input{
        width: 130px;
    }
    .nav input:focus{
        width: 150px;
    }
}
.content h1{
    margin: 20px 0;
}
.content .title {
    padding: 0 30px;
}
.content h1 {
    position: relative;
}
.content h1::before , .content h1::after {
    content: "";
    position: absolute;
    height: 4px;
    left: -1px;
    bottom: -10px;
}
.content h1::before {
    background-color: white;
    width: 150px;
}
.content h1::after {
    background-color: black;
    width: 50px;
}
.container {
    margin: 0 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}
@media (max-width:767px) {
    .container{
        display: block;
        margin-bottom: 10px;
    }
}
.container .card {
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    margin-bottom: 10px;
}
@media (max-width:350px) {
    .card {
        width: 250px;
        margin: auto;
    }
}
/* Welcome Section */
.welcome .bar{
    background-color: #eee;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.welcome .bar img {
    height: 70px;
    margin: 10px auto;
    display: block;
}
.bar h2{
    margin: 0;
}
.bar p{
    margin: 0;
}
.wel-data img{
    width: 64px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 10px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
.wel-data h4  {
    font-size: 14px;
}
.wel-data p {
    font-size: 14px;
    color: grey;
}
.avatar-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 15px;
}
.avatar-info h4{
    font-weight: lighter;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.wel-data button {
    background-color: var(--blue-color);
    border: none;
    color: white;
    border-radius: 6px;
    display: block;
    margin: 20px 10px 20px auto;
    padding: 6px 10px;
    font-size: 12px;
    width: fit-content;
}
@media (max-width:767px) {
    .welcome .bar img{
        display: none;
    }
    .wel-data img{
        display: block;
        margin: -32px 20px 0 auto;
    }
    .avatar-info{
        display: block;
    }
    .avatar-info div{
        text-align: center;
    }
}
/* Quick Draft Section */
.quick {
    padding: 20px;
}
.quick h2 {
    margin: 0;
}
.quick p {
    margin: 0;
    padding:0;
    color: var(--grey-color);
    margin: 10px 0;
}
.quick input {
    width: 100%;
    background-color: #EEEEEE;
    border: none;
    height: 30px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
}
.quick textarea{
    resize: none;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    border: none;
    background-color: #EEEEEE;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
}
.quick button {
    background-color: var(--blue-color);
    border: none;
    color: white;
    border-radius: 6px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    padding: 6px 10px;
    font-size: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* Yearly Target Section */
.yearly{
    padding: 20px;
}
.yearly p{
    margin: 0;
    padding:0;
    color: var(--grey-color);
    margin: 10px 0;
}
.yearly .target-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.yearly .target-row .target-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 80px;
    height: 80px;
}
.yearly .target-row .target-info{
    flex: 1;
}
.yearly .target-row .target-info span{
    font-size: 15px;
    font-weight: bold;
}
.yearly .target-row .target-info .target-progress{
    position: relative;
}
.yearly .target-row .target-info p{
    margin: 0;
    padding:0;
    color: var(--grey-color);
    font-size: 14px;
}
.yearly .target-row .target-info .target-progress span:first-child{
    height: 4px;
    width: 100%;
    display: block ;
    margin: 10px 0;
    position: relative;
}
.yearly .target-row .target-info .target-progress span:first-child::after{
    content: "";
    position: absolute;
    height: 4px;
    top: 0;
}
.yearly .target-row .target-info .target-progress span:last-child{
    position: absolute;
    width: 29.7px;
    height: 23.44px;
    text-align: center;
    top: -30px;
    left: calc(80% - 15px);
    color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 5px;
    font-size: 10px;
}
.yearly .target-row .target-info .target-progress span:last-child::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* First Row */
.yearly .target-row:first-of-type .target-symbol{
    background-color: rgb(0 117 255 / 20%);
    color: var(--blue-color);
}
.yearly .target-row:first-of-type .target-info .target-progress span:first-child{
    background-color: rgb(0 117 255 / 20%);
}
.yearly .target-row:first-of-type .target-info .target-progress span:first-child::after{
    background-color: var(--blue-color);
    width: 80%;
}
.yearly .target-row:first-of-type .target-info .target-progress span:last-child{
    background-color: var(--blue-color);
}
.yearly .target-row:first-of-type .target-info .target-progress span:last-child::after{
    border-top: 4px solid var(--blue-color);
}
/* Second Row */
.yearly .target-row:nth-of-type(2) .target-symbol{
    background-color: rgb(245 158 11 / 20%);
    color: var(--orange-color);
}
.yearly .target-row:nth-of-type(2) .target-info .target-progress span:first-child{
    background-color: rgb(245 158 11 / 20%);
}
.yearly .target-row:nth-of-type(2) .target-info .target-progress span:first-child::after{
    background-color: var(--orange-color);
    width: 55%;
}
.yearly .target-row:nth-of-type(2) .target-info .target-progress span:last-child{
    background-color: var(--orange-color);
    left: calc(55% - 15px);
}
.yearly .target-row .target-info .target-progress span:last-child::after{
    border-top: 4px solid var(--orange-color);
}
/* Third Row */
.yearly .target-row:nth-of-type(3) .target-symbol{
    background-color: rgb(34 197 94 / 20%);
    color: var(--green-color);
}
.yearly .target-row:nth-of-type(3) .target-info .target-progress span:first-child{
    background-color: rgb(34 197 94 / 20%);
}
.yearly .target-row:nth-of-type(3) .target-info .target-progress span:first-child::after{
    background-color: var(--green-color);
    width: 75%;
}
.yearly .target-row:nth-of-type(3) .target-info .target-progress span:last-child{
    background-color: var(--green-color);
    left: calc(75% - 15px);
}
.yearly .target-row:nth-of-type(3) .target-info .target-progress span:last-child::after{
    border-top: 4px solid var(--green-color);
}
/* Statistics Section */
.statistics {
    padding: 20px;
}
.statistics p{
    margin: 0;
    padding:0;
    color: var(--grey-color);
    margin: 10px 0;
}
.statistics .states{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 20px;
}
.statistics .states div{
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 20px;
    text-align: center;
    width: calc(50% -10px);
}
.statistics .states span{
    display: block;
    font-size: 25px;
    font-weight: bold;
}
/* News Section */
.news{
    padding: 20px;
}
.news .news-row{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.news .news-row:last-child{
    border: none;
    margin-bottom: 0;
    padding: 0;
}
.news .news-row .news-info {
    flex-grow: 1;
    cursor: pointer;
}
.news .news-row .news-info h3{
    margin: 6px 0;
    font-size: 16px;
}
.news .news-row .news-info p{
    margin: 0;
    font-size: 12px;
    color: var(--grey-color);
}
.news img{
    width: 100px;
    height: 56px;
    margin-right: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}
.news .news-row .news-date{
    font-size: 10px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    height: fit-content;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin: auto;
}
/* Latest Tasks Section */
.latest-tasks {
    padding: 20px;
}
.latest-tasks .tasks-row{
    display: flex;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    align-items: center;
}
.latest-tasks .tasks-row:last-child{
    border: none;
    margin-bottom: none;
    padding-bottom: none;
}
.latest-tasks .tasks-row .task-info{
    flex-grow: 1;
    padding: 15px 0;
}
.latest-tasks .tasks-row .task-info h3{
    margin: 6px 0;
    font-size: 16px;
}
.latest-tasks .tasks-row .task-info p{
    margin:  0;
    font-size: 12px;
    color: var(--grey-color);
}
.delete > i{
    font-size: 20px;
}
.delete > i:hover{
    color: var(--red-color);
    cursor: pointer;
    font-size: 21px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
/* Top Search Section */
.top-search{
    padding: 20px;
}
.top-search .reference{
    justify-content: space-between;
    align-items: center;
}
.top-search p{
    color: var(--grey-color);
    margin: 20px 0;
    font-size: 14px;
}
.top-search .reference-row{
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;
}
.top-search .reference-row:last-of-type{
    padding-bottom: 0;
}
.top-search .reference-row .key-count{
    font-size: 12px;
    background-color: #eee;
    padding: 4px 10px;
    height: fit-content;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* Latest Upload Section */
.latest-upload{
    padding: 20px 20px 10px 20px;
}
.latest-upload img {
    width: 40px;
    height: 40px;
}
.latest-upload .img-detail{
    margin-left: 20px;
}
.latest-upload .img-detail h4{
    margin: 0;
    font-weight: lighter;
}
.latest-upload .img-detail span{
    font-size: 13px;
    color: var(--grey-color);
}
.latest-upload .upload-row{
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;
}
.latest-upload .upload-row:last-of-type{
    padding-bottom: 0;
}
.size{
    font-size: 12px;
    background-color: #eee;
    padding: 4px 10px;
    height: fit-content;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* Last Progress Card */
.last-progress{
    position: relative;
}
.last-progress h2{
    margin-bottom: 20px;
}
.last-progress .progress-row{
    align-items: center;
    margin-bottom: 30px;
}
.last-progress .progress-row .circle{
    width: 20px;
    height: 20px;
    background-color: var(--blue-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    margin-right: 20px;
}
.last-progress .progress-row .circle::before{
    content: "";
    border: 2px solid var(--blue-color);
    position: absolute;
    width: 26px;
    height: 26px;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.last-progress .progress-row .circle::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: var(--blue-color);
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.last-progress .progress-row:last-of-type .circle{
    background-color: white;
}
.progress-row:last-of-type .circle::after{
    display: none;
}
.last-progress .progress-row:nth-of-type(4) .circle{
    animation-name: change-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes change-color {
    0%{
        background-color: var(--blue-color);
    }
    25%{
        background-color: white;
    }
    50%{
        background-color: var(--blue-color);
    }
    75%{
        background-color: white;
    }
    100%{
        background-color: var(--blue-color);
    }
}
.last-progress .progress-row .title{
    padding: 0;
}
.last-progress .project-img{
    position: absolute;
    width: 150px;
    bottom: 5px;
    right: 10px;
    opacity: 30%;
}
@media (max-width:767px) {
    .news-row img{
        display: none;
    }
    .last-progress .project-img{
        display: none;
    }
}
/* Reminder Card */
.reminder ul{
    margin-top: 20px;
}
.reminder .reminder-row{
    align-items: center;
    margin-bottom: 20px;
}
.reminder ul li span {
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 30px;
    position: relative;
    width: 15px;
    height: 15px;
}
.reminder ul li span:after{
    content: "";
    position: absolute;
    width: 1.5px;
    height: 50px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.reminder ul li:first-of-type span{
    background-color: var(--blue-color);
}
.reminder ul li:first-of-type span:after{
    background-color: var(--blue-color);
}
.reminder ul li:nth-of-type(2) span{
    background-color: var(--green-color);
}
.reminder ul li:nth-of-type(2) span:after{
    background-color: var(--green-color);
}
.reminder ul li:nth-of-type(3) span{
    background-color: var(--orange-color);
}
.reminder ul li:nth-of-type(3) span:after{
    background-color: var(--orange-color);
}
.reminder ul li:last-of-type span{
    background-color: var(--red-color);
}
.reminder ul li:last-of-type span:after{
    background-color: var(--red-color);
}
.reminder h4 {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.reminder p{
    color: var(--grey-color);
    margin: 0;
    padding: 0;
    margin-top: 7px;
    font-size: 14;
}
/* Latest Post Card */

.latest-post .user{
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.latest-post .user img{
    width: 48px;
    height: 48px;
    margin-right: 15px;
}
.latest-post .user img:hover{
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.latest-post .user .user-info h4,p{
    padding: 0;
    margin: 0;
}
.latest-post .user .user-info p{
    margin-top: 5px;
    color: var(--grey-color);
    font-size: 14px;
}
.latest-post .post{
    margin-top: 40px;
    text-transform: capitalize;
    line-height: 1.8;
    position: relative;
}
.latest-post .post::before,.latest-post .post::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #eee;
    left: 0;
}
.latest-post .post::before{
    top: -20px;
}
.latest-post .post::after{
    bottom: -20px;
}
.latest-post .post-react{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-color);
    font-size: 15px;
    margin-top: 40px;
}
/* Social States Card */
.social-stats .social-row{
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    margin: 20px 0;
    position: relative;
}
.social-stats .social-row .s-icon{
    position: absolute;
    margin-right: 10px;
    width: 52px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-stats .social-row .s-icon:hover{
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.social-stats .social-row .s-icon i {
    color: white;
    font-size: 22px;
}
.social-stats .social-row span:last-of-type{
    margin-left: 70px;
}
@media (max-width: 767px) {
    .social-stats .social-row span:last-of-type{
        font-size: 12px;
    }
    .social-stats .social-row button{
        font-size: 12px;
    }
}
.social-stats .social-row button{
    color: white;
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* First Row */
.social-stats .social-row:first-of-type{
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-stats .social-row:first-of-type .s-icon{
    background-color: #1da1f2;
}
.social-stats .social-row:first-of-type button{
    background-color: #1da1f2;
}
/* Second Row */
.social-stats .social-row:nth-of-type(2){
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-stats .social-row:nth-of-type(2) .s-icon{
    background-color: #1877f2;
}
.social-stats .social-row:nth-of-type(2) button{
    background-color: #1877f2;
}
/* Third Row */
.social-stats .social-row:nth-of-type(3){
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-stats .social-row:nth-of-type(3) .s-icon{
    background-color: #ff0000;
}
.social-stats .social-row:nth-of-type(3) button{
    background-color: #ff0000;
}
/* Fourth Row */
.social-stats .social-row:nth-of-type(4){
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-stats .social-row:nth-of-type(4) .s-icon{
    background-color: #0077b5;
}
.social-stats .social-row:nth-of-type(4) button{
    background-color: #0077b5;
}
/* Table Section */
.table{
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.table h2{
    margin-bottom: 20px;
}
.dash-table{
    border: 1px solid #eee;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
@media (max-width: 1000px) {
    .dash-table{
        display: block;
    }
}
.dash-table thead{
    background-color: #eee;
    height: 50px;
}
.dash-table tbody{

}
.dash-table tr{
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.dash-table tr:hover{
    background-color: #faf7f7;
}
.dash-table thead th{
    text-align: left;
    padding: 10px 20px;
    border: none;
}
.dash-table td{
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}
.dash-table td img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid white;
}
.dash-table td img:nth-of-type(2){
    margin-left: -15px;
}
.dash-table td img:nth-of-type(3){
    margin-left: -15px;
}
.dash-table td img:nth-of-type(4){
    margin-left: -15px;
}